*{
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 20%;
}
.App{
  background-color: beige;
}
textarea{
  height: 150px;
  width: 100%;
  border-radius: 6px;
  border-color: black;
  background-color: rgb(160, 235, 235);
}
button{
  border-color: rgb(216, 224, 128);
  display: block;
  border-radius: 4px;
  font-weight: 700;
}
.box{
  color: yellow;
}
button:hover{
  color: rgb(226, 122, 24);
}
delete{
  height: fit-content;

}